<!DOCTYPE html>
<html>
<head>
	<title> Carreras</title>
</head>
<body>
	<h1> Departamentos de Beauchef</h1>
	

	<div>
		<table>
			<tr>
				<td>Industrias</td>
			</tr>
			<tr>
				<td>Dcc</td>
			</tr>
			<tr>
				<td>Dim</td>
			</tr>
			<tr>
				<td>Geo</td>
			</tr>
			<tr>
				<td>Mecánica</td>
			</tr>
			<tr>
				<td>Civil</td>
			</tr>
			<tr>
				<td>... No me acuerdo de las demás jaja</td>
			</tr>
		</table>
	</div>

	<a href="{% url 'pestaña' %}">Hola, soy un enlace a otra pestaña del proyecto</a>
	<br>
	<a href="{% url 'CuerpoDocente' %}">Hola, Aquí está el cuerpo docente</a>
	<br>
	<a href="{% url 'index' %}">Hola, Aquí está el inicio</a>


</body>
</html>