<!DOCTYPE html>
<html>
<head>
	<title>Cuerpo Docente</title>
</head>
<body>
	<h3>Profesores :</h3>
		<div>
			<table>
				<tr><td> Iván Díaz <td> </tr>
				<tr><td> Ángel Jiménez <td></tr>
			</table>
		</div>
	<h3>Auxiliares :</h3>
		<div>
			<table>
				<tr> <td> Macarena Osorio<td> </tr>
				<tr> <td> José Canto <td></tr>
				<tr> <td> Javiera Ovalle<td> </tr>
				<tr> <td> José Pinto <td></tr>
			</table>
		</div>
	<h3>Ayudante :</h3>
		<div>
			<table>
				<tr> <td> Carlos Vega <td></tr>
				<tr> <td> Catalina Martin <td></tr>
				<tr> <td> Eduardo Valerio<td> </tr>
				<tr> <td> Matías Rojas<td></tr>
				<tr> <td> Juan Gutiérrez <td></tr>
				<tr> <td> Nicolás Villa <td></tr>
				<tr> <td> Sebastián Donoso <td></tr>
				<tr> <td> Sofía Herrera<td></tr>
				<tr> <td> Victoria Arce<td></tr>
				
			</table>
		</div>
	<a href="{% url 'index' %}">Hola, Aquí está el inicio</a>
	<br>
	<a href="{% url 'pestaña' %}">Hola, soy un enlace a otra pestaña del proyecto</a>
	<br>
	<a href="{% url 'Carreras' %}">Hola, te muestro los departamentos de Beauchef</a>


</body>
</html>